@font-face {
  font-family: "Azonix";
  src: url("/assets/fonts/Azonix.otf") format("opentype");
}

:root {
  --cardWidth: 300px;
  --cardHeight: 456px;
  --cardFrontColor: rgba(147, 147, 147, 0.15);
  --cardHoverEffectTime: 0.5s;
  --headerColor: rgb(65, 255, 255);
  --headerSize: 8vh;
  --fadeInDelay: 1.5s;
  --scrollUpDelay: 0.5s;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.logo-container img {
  height: 20vh;
  width: fit-content;
}

body {
  color: white;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}

/* Styles for Sponsors Card */
.circle-1 {
  position: absolute;
  top: 5%;
  left: 20%;
  background: #5984e9;
  background: -webkit-linear-gradient(to right, #9661eb, #5984e9);
  background: linear-gradient(to right, #9661eb, #5984e9);
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.circle-2 {
  position: absolute;
  bottom: 15%;
  right: 20%;
  background: #236302;
  background: -webkit-linear-gradient(to right, #02b148, #03217c);
  background: linear-gradient(to right, #02b148, #03217c);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  opacity: 0.8;
}
.circle-3 {
  position: absolute;
  top: 50%;
  right: 5%;
  background-color: #67310a;
  background: -webkit-linear-gradient(to right, #43037e, #005c94);
  background: linear-gradient(to right, #43037e, #005c94);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card {
  height: var(--cardHeight);
  width: var(--cardWidth);
  position: relative;
}

.circles {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--cardFrontColor);

  border-radius: 50px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all var(--cardHoverEffectTime);

  backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.card-inner:hover {
  scale: 1.05;
}

.card-front {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.card-front a img {
  width: 80%;
  transition: all var(--cardHoverEffectTime);
}

.card-front a img:hover {
  scale: 1.04;
}

.card-front a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front:hover {
  scale: 1.04;
}

.card-back {
  opacity: 0;
  width: 100%;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.8); */
  padding: 10px;
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  overflow: hidden;
  transition: all var(--scrollUpDelay) ease;
}


.creep-up {
  height: 60%;
  opacity: 1;;
  overflow-y: visible;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Each Row of Sponsors */
.sponsor-row {
  display: flex;
  justify-content: center;
  column-gap: 10vw;
  flex-wrap: wrap;
  margin-bottom: 15vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Glowing Text */
.event-name {
  user-select: none;
  cursor: none;
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Azonix", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 75px;
  font-size: var(--headerSize);
  position: static;
  text-shadow: 0px 0px 10px cyan, 0px 0px 40px cyan, 0px 0px 80px rgb(63, 1, 99),
    0px 0px 120px cyan, 0px 0px 200px cyan;
  font-size: 3vw;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  #main-logo {
    margin-top: 40px;
    height: 15vh;
  }

  .card {
    height: 450px;
    width: 300px;
    margin-bottom: 10vh;
  }

  .event-name {
    font-size: 40px;
  }
}

#vanta-canvas {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body.no-scroll {
  overflow: hidden;
}

/* Navbar styles */

.checkbox {
  display: none;
}

.navbar-icon {
  height: 3rem;
  width: 3rem;
  z-index: 999;
  display: inline-block;
}

.msLink {
  position: absolute;
  top: 3vh;
  left: 5vw;
  z-index: 10000;
}

.button {
  position: relative;
  background-color: rgba(59, 59, 59, 0.571);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3vh;
  right: 5vw;
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}
.nav-elements {
  display: none;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgba(52, 52, 52, 0.229);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  pointer-events: none;
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.4s;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.item {
  margin: 8px;
}

.link {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 3px;
  color: white;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.3s;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: white;
  transition: width 0.3s ease, left 0.3s ease;
  -webkit-transition: width 0.3s ease, left 0.3s ease;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.link:not(:hover)::after {
  width: 0;
  left: 0;
}

.checkbox:checked ~ .background {
  transform: translateX(0);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 1.2rem;
  height: 2px;
  background-color: white;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.icon::before {
  top: -0.5rem;
}
.icon::after {
  top: 0.5rem;
}

.button:hover icon:before {
  top: -0.8rem;
}
.button:hover icon::after {
  top: 0.8rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.checkbox:checked body {
  overflow-y: hidden;
}

@media screen and (max-width: 680px) {
  .nav-elements {
    display: flex !important;
  }
}

/* Navbar styles end here */

.sponsor-name {
  font-family: "Montserrat";
  font-size: 20px;
}

.sponsor-title {
  width: 80%;
  font-family: "Azonix", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
  margin-bottom: 10px;
}
