@font-face {
    font-family: 'Azonix';
    src: url('./Azonix.otf') format('opentype');
}

:root{
    --cardWidth : 350px;
    --cardHeight: 550px;
    --cardFrontColor : linear-gradient(#133afc,#342cad,#a319ff);
    --cardBackColor: #1e90ff;
    --cardHoverEffectTime: 0.5s;
    --headerColor: rgb(65, 255, 255);
    --headerSize: 8vh;
    --fadeInDelay : 1.5s;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}


.logo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.logo-container img{
    height: 200px;
    width: fit-content;
}

h1{
    margin-bottom: 100px;
    color: var(--headerColor);
    text-align: center;
    font-size: var(--headerSize);
}

body{
    color: white;
    /* background: url(./2314-157183704.gif); */
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 90%;
    /* height: 100%; */
    transition:  all var(--fadeInDelay);
    background-color: transparent;
}

/* Styles for Fade in motion of */
.hidden{
    opacity : 0;
    transition : all var(--fadeInDelay); 
}

.show{
    opacity : 1;
}

/* Styles for Sponsors Card */
.card{
    height: var(--cardHeight);
    width: var(--cardWidth);
}

.card-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: var(--cardFrontColor);
    
    border-radius: 50px;

    height: 100%;
    width: 100%;

    transition: all var(--cardHoverEffectTime);
    /* padding: 10px; */

}

.card-inner:hover{
    scale: 1.05;
}

.card-front{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.card-front img{
    width: 90%;
}

.card-front:hover{
    scale: 1.05;
}

.card-back{
    width: 100%;
    height: 13%;
    background: black;
    opacity: 0.90;
    padding: 10px;
    border-top-left-radius: 150%;
    border-top-right-radius: 150%;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px ;

    text-align: center;
    overflow-y: hidden;
    transition: all var(--cardHoverEffectTime) ease;
}

.card-back img{
    width: 50px;
    margin-top: 5px;
}

.card-inner:hover .card-back{
    height: 60%;
    overflow-y: visible;
}

.card-inner:hover .card-back img{
    display: none;
}

.card-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
}

svg{
    margin-top: 5px;
    fill: white;
    width: 8.5%;
}


/* Each Row of Sponsors */
.sponsor-row{
    display: flex;
    justify-content: center;
    column-gap: 10vw;
    flex-wrap: wrap;
    margin-bottom: 15vh;
}


/* Initial Background */
#gradient-canvas {
    position: fixed;
    min-height: 100vh;
    z-index: -5;
    --gradient-color-1: #0b0144;
    --gradient-color-2: #010363;
    --gradient-color-3: #350242;
    --gradient-color-4: #000000;
  }


/* Glowing Text */
.event-name {
user-select: none;
cursor: none;
color: white;
text-align: center;
align-items: center;
/* justify-content: center;
font-family: "Do Hyeon", sans-serif; */
font-family: 'Geologica', sans-serif;
font-weight: 400;
font-style: normal;
font-weight: 400;
font-style: normal;
top: 50%;
position: static;
font-size: 100px;
text-shadow: 0px 0px 10px cyan,
    0px 0px 40px cyan,
    0px 0px 80px rgb(63, 1, 99),
    0px 0px 120px cyan,
    0px 0px 200px cyan;
}


  /* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    #main-logo{
        display: none;
    }

    #favicon{
        height: 250px;
    }

    .card{
        height: 500px;
        width: 350px;
        margin-bottom: 10vh;
    }

    .event-name{
        font-size: 80px;
    }
}

.scroll-up a{
    text-decoration: none;
    color: white;
}

.scroll-up{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(-90deg) ; */
    transition: all 0.5s;
    font-weight: bolder;
    margin: 8px auto;
}


.card-inner:hover .card-back .scroll-up{
    transform: rotate(180deg) ;

}
